@import "nullstyle";

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {
    min-height: 100vh;
    background-image: url(../img/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    padding: 25px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: azure;
}
._anim-show {
    transform: translate(0, 120%);
    opacity: 0;
    transition: 0.8s;
}
._anim-show._active, ._active ._anim-show {
    opacity: 1;
    transform: translate(0, 0);
}
h1 {
    font-weight: 700;
    font-size: 80px;

    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.3s ease 0s;
}
h1._active {
    transform: translate(0, 0);
    opacity: 1;
}
h2 {
    font-weight: 700;
    font-size: 50px;
}
p {
    padding: 25px 0;
    font-size: 30px;

    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.3s ease 0.4s;
}
p._active {
    transform: translate(0, 0);
    opacity: 1;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.page__body {
    padding: 25px 0;
}
.page__body span {
    display: block;
    padding-bottom: 10px;
}
.page h2 {
    margin-bottom: 15px;
    text-align: center;
}
.page__text {
    overflow: hidden;
}
.moment {
    background: goldenrod;
    padding: 70px 0;
}
.list__title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 35px;
    font-weight: 900;
}
.moment__items {
    display: flex;
    justify-content: space-between;
}
.moment__item {
    flex: 0 1 auto;
    padding: 0 20px;
    text-align: center;
}
.moments__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;

    transform: scale(0);
    transition: 0.8s;
}
.moments__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.moment__text {
    font-size: 25px;
    line-height: 35px;
    transform: translate(0, 50%);
    opacity: 0;
    transition: 0.3s;
}
.moment__item._active .moments__image {
    transform: scale(1);
}
.moment__item._active .moment__text {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 0.8s ease 0.6s;
}
.list {
    position: relative;
}
.list_container {
    overflow: hidden;
}
.list__item {
    font-size: 25px;
    line-height: 35px;
    
}
.list__item li {
    list-style: none;
    position: relative;
    padding:0 0 0 40px;
    margin:0 0 20px 0;

    transform: translate(-120%, 0);
    transition: all 0.5s ease 0s;
}

.list__item._active li:nth-child(1){
    transition: all 0.3s ease 0s;
}
.list__item._active li:nth-child(2){
    transition: all 0.3s ease 0.2s;
}
.list__item._active li:nth-child(3){
    transition: all 0.3s ease 0.4s;
}
.list__item._active li:nth-child(4){
    transition: all 0.3s ease 0.6s;
}
.list__item._active li:nth-child(5){
    transition: all 0.3s ease 0.8s;
}
.list__item._active li:nth-child(6){
    transition: all 0.3s ease 1s;
}

.list__item._active li {
    transform: translate(0, 0);
}
.list__item li::before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    content: "";
    background-color: greenyellow;
    position: absolute;
    left: 0;
    top: 8px;
}
.list__item li:last-child {
    margin: 0;
}